﻿<%@ master language="C#" autoeventwireup="true" codebehind="Site.master.cs" inherits="HollandHart.MentorSurvey.Web.SiteMaster" %>

<%@ register src="~/Controls/Busy.ascx" tagprefix="HH" tagname="Busy" %>
<%@ register src="~/Controls/Error.ascx" tagprefix="HH" tagname="Error" %>
<%@ register src="~/Controls/Volunteer.ascx" tagprefix="HH" tagname="Volunteer" %>
<%@ register src="~/Controls/AdminMenu.ascx" tagprefix="HH" tagname="AdminMenu" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%: Page.Title %> - HHMentor</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/octicons.css" rel="stylesheet" />
    <asp:PlaceHolder runat="server">
        <%: Styles.Render("~/bundles/css") %>
        <%: Scripts.Render("~/bundles/frameworks") %>
        <%: Scripts.Render("~/bundles/HH") %>
    </asp:PlaceHolder>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <form runat="server">
        <script type="text/javascript" src="https://randomtree.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-cgpvzq/b/8/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=0d5fd0d4"></script>
        <div class="container">
            <div class="d-none d-lg-block" id="banner">
                <div class="row"></div>
            </div>
            <HH:Error runat="server" ID="err" />
            <div class="d-none d-md-block d-lg-none" id="banner-md">
                <div class="row"></div>
            </div>
            <div class="d-none d-sm-block d-md-none" id="banner-sm">
                <div class="row"></div>
            </div>
            <div class="navbar navbar-expand-lg navbar-light bg-light" id="topnavbar" role="navigation">
                <a class="navbar-brand" runat="server" href="~/">H&amp;H Mentoring Program</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <HH:Volunteer runat="server" ID="Volunteer1" ShowMentee="true" ShowMentor="false" />
                        </li>
                        <li>
                            <HH:Volunteer runat="server" ID="Volunteer" ShowMentee="false" ShowMentor="true" />
                        </li>
                        <HH:AdminMenu runat="server" ID="adm" />
                    </ul>
                    <p class="nav navbar-text navbar-right">
                        <asp:LoginName runat="server" />
                    </p>
                </div>
            </div>
        </div>
        <HH:Busy runat="server" ID="busy" />
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Holland &amp; Hart LLP</p>
            </footer>
        </div>
    </form>
</body>
</html>
