﻿html, body {
    min-height:100%;
}

body {
    padding-bottom: 20px;
    position:relative;
}

input,
select,
textarea {
    max-width: 380px;
}

input.error {
    border-color: #b94a48;
    background-color: lightyellow;
}

li.list-group-item {
    cursor: move;
}

li.multiple-choice-item {
    list-style:none;
}

div.busy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
}

div.question-text {
    font-weight: bold;
    font-size: 1.25em;
}

div.question-description {
    font-weight: bold;
}

div.wrapper { 
    padding:1em;
}

span.number{
    padding-right: 1em;
}

#topnavbar {
    margin: 0;
}

    #topnavbar.affix {
        position: fixed;
        top: 0;
        width: 100%;
    }

#banner {
    background-image: url(/Content/images/match_banner.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    width:100%;
    height:300px;
    margin-left:auto;
    margin-right:auto;
}

#banner-md {
    background-image: url(/Content/images/match_banner.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    width:100%;
    height:250px;
    margin-left:auto;
    margin-right:auto;
}

#banner-sm {
    background-image: url(/Content/images/match_banner.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    width:100%;
    height:200px;
    margin-left:auto;
    margin-right:auto;
}



